body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  font-family: "Raleway", sans-serif;
}
.bgimg {
  background-image: url(images/donation4.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}
.text-color {
  color: white;
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}
.middle-arrange {
  text-align: center;
  padding-top: 250px;
}
.button {
  background-image: linear-gradient(tomato, red);
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 4px;
  color: white;
}
#text-color {
  color: black;
}
.middle-alignment {
  text-align: center;
}
#text-color {
  font-size: 20px;
  font-weight: 100;
}
.amount {
  background-color: bisque;
  margin: 20px;
  padding: 30px;
}
#flex-arrang {
  display: flex;
  margin-left: 25%;
}

#side-arrang {
  display: flex;
  margin-left: 25%;
}
.border {
  border: 2px solid red;
}
.givemedicine {
  height: 300px;
  width: 30%;
  background-image: url(icons/medicine.svg);
  background-repeat: no-repeat;
  background-color: bisque;
  padding-top: 90px;
  text-align: center;
}
.givefood {
  height: 300px;
  width: 30%;
  background-image: url(icons/icon11.svg);
  background-repeat: no-repeat;
  background-color: aqua;
  margin-left: 30px;
  padding-top: 90px;
  text-align: center;
}
.blood-donetion {
  height: 300px;
  width: 30%;
  background-image: url(icons/blood.svg);
  background-repeat: no-repeat;
  background-color: blueviolet;
  margin-left: 30px;
  padding-top: 90px;
  text-align: center;
}
.arrange {
  display: flex;
  margin-left: 100px;
}
.halfwidth {
  width: 50%;
  margin-top: 30px;
}
.anotherhalfwidth {
  width: 50%;
  margin-top: 120px;
}
.inlinearrng {
  display: flex;
}
.fornews {
  text-align: center;
  margin-top: 100px;
}
.alignbutton {
  text-align: center;
}
footer {
  background-color: black;
  height: 100px;
  width: 100%;
  margin-top: 20px;
}
#footertext {
  color: white;
  text-align: center;
  padding-top: 35px;
}
